<%= form_with(model: service) do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
        <% service.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, class:"form-control" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :icon, class: "form-label" %>
    <%= form.text_field :icon, class:"form-control" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :text, class: "form-label" %>
    <%= form.text_area :text, class:"form-control" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :annual_price, class: "form-label" %>
    <%= form.text_field :annual_price, class:"form-control" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :mandatory, class: "form-check-label" %>
    <%= form.check_box :mandatory, class:"form-check-input" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :program, class: "form-label" %>
    <%= form.text_field :program, class:"form-control" %>
  </div>

  <div class="form-group mb-3">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>