<div id="<%= dom_id service %>">
  <p>
    <strong>Title:</strong>
    <%= service.title %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%= service.icon %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= service.text %>
  </p>

  <p>
    <strong>Annual price:</strong>
    <%= service.annual_price %>
  </p>

  <p>
    <strong>Mandatory:</strong>
    <%= service.mandatory %>
  </p>

  <p>
    <strong>Program:</strong>
    <%= service.program %>
  </p>

</div>
