<div class='page'>
  <div class='container forms'>
    <p id="notice"><%= notice %></p>

    <div class="structure-title">
      <h1>Services</h1>
    </div>

    <table class="table">
      <thead>
        <tr>
            <th>Title</th>
            <th>Icon</th>
            <th>Text</th>
            <th>Annual price</th>
            <th>Mandatory</th>
            <th>Program</th>
            <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @services.each do |service| %>
          <tr>
            <td><%= service.title %></td>
            <td><i class="bi bi-<%= service.icon %>"></i></td>
            <td><%= service.text %></td>
            <td><%= service.annual_price %></td>
            <td><%= service.mandatory %></td>
            <td><%= service.program %></td>
            <td><%= link_to 'Edit', edit_service_path(service) %></td>
            <td><%= link_to 'Destroy', service, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Service', new_service_path, class: "btn btn-success min-width-btn" %>

  </div>
</div>