<div class='page'>
  <div class='container forms'>
    <div class="structure-title">
      <h1>New Service</h1>
    </div>

    <%= render 'form', service: @service %>

    <%= link_to 'Back', services_path, class: "btn btn-light min-width-btn" %>
  </div>
</div>