<div class="container-fluid">
  <p id="notice"><%= notice %></p>

      <div class="form-group mb-3">
    <p><strong>Title:</strong></p>
    <div>
      <%= @service.title %>
    </div>
  </div>
  
      <div class="form-group mb-3">
    <p><strong>Icon:</strong></p>
    <div>
      <%= @service.icon %>
    </div>
  </div>
  
      <div class="form-group mb-3">
    <p><strong>Text:</strong></p>
    <div>
      <%= @service.text %>
    </div>
  </div>
  
      <div class="form-group mb-3">
    <p><strong>Annual price:</strong></p>
    <div>
      <%= @service.annual_price %>
    </div>
  </div>
  
      <div class="form-group mb-3">
    <p><strong>Mandatory:</strong></p>
    <div>
      <%= @service.mandatory %>
    </div>
  </div>
  
      <div class="form-group mb-3">
    <p><strong>Program:</strong></p>
    <div>
      <%= @service.program %>
    </div>
  </div>
  
  
  <%= link_to 'Edit', edit_service_path(@service), class: "btn btn-primary min-width-btn" %>
  <%= link_to 'Back', services_path, class: "btn btn-light min-width-btn" %>
</div>