<%= form_with(model: invoice) do |form| %>
  <% if invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
        <% invoice.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-3">
    <%= form.label :history_id %>
    <%= form.text_field :history_id, class: "form-control" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :price, class: "form-label" %>
    <%= form.text_field :price, class:"form-control" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :days, class: "form-label" %>
    <%= form.number_field :days, class:"form-control" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :invoiced, class: "form-check-label" %>
    <%= form.check_box :invoiced, class:"form-check-input" %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :invoiced_provider, class: "form-check-label" %>
    <%= form.check_box :invoiced_provider, class:"form-check-input" %>
  </div>

  <div class="form-group mb-3">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>