<div class='page'>
  <div class='container forms'>
    <h1>Editing Invoice</h1>

    <%= render 'form', invoice: @invoice %>

    <%= link_to 'Show', @invoice, class: "btn btn-light min-width-btn" %> |
    <%= link_to 'Back', invoices_path, class: "btn btn-light min-width-btn" %>
  </div>
</div>