<div class='page'>
  <div class='container forms'>
    <p id="notice"><%= notice %></p>

    <h1>Invoices</h1>

    <table class="table">
      <thead>
        <tr>
              <th>History</th>
              <th>Price</th>
              <th>Days</th>
              <th>Invoiced</th>
              <th>Invoiced provider</th>
              <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @invoices.each do |invoice| %>
          <tr>
                <td><%= invoice.history_id %></td>
                <td><%= invoice.price %></td>
                <td><%= invoice.days %></td>
                <td><%= invoice.invoiced %></td>
                <td><%= invoice.invoiced_provider %></td>
                <td><%= link_to 'Show', invoice %></td>
            <td><%= link_to 'Edit', edit_invoice_path(invoice) %></td>
            <td><%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Invoice', new_invoice_path, class: "btn btn-success min-width-btn" %>

  </div>
</div>