<div class='page'>
  <div class='container forms'>
    <h1>New Invoice</h1>

    <%= render 'form', invoice: @invoice %>

    <%= link_to 'Back', invoices_path, class: "btn btn-light min-width-btn" %>
  </div>
</div>