<div class="container-fluid">
  <p id="notice"><%= notice %></p>

      <div class="form-group mb-3">
    <p><strong>History:</strong></p>
    <div>
      <%= @invoice.history_id %>
    </div>
  </div>
  
      <div class="form-group mb-3">
    <p><strong>Price:</strong></p>
    <div>
      <%= @invoice.price %>
    </div>
  </div>
  
      <div class="form-group mb-3">
    <p><strong>Days:</strong></p>
    <div>
      <%= @invoice.days %>
    </div>
  </div>
  
      <div class="form-group mb-3">
    <p><strong>Invoiced:</strong></p>
    <div>
      <%= @invoice.invoiced %>
    </div>
  </div>
  
      <div class="form-group mb-3">
    <p><strong>Invoiced provider:</strong></p>
    <div>
      <%= @invoice.invoiced_provider %>
    </div>
  </div>
  
  
  <%= link_to 'Edit', edit_invoice_path(@invoice), class: "btn btn-primary min-width-btn" %>
  <%= link_to 'Back', invoices_path, class: "btn btn-light min-width-btn" %>
</div>