<%= form_with(model: history, url: organization_histories_path(@organization.id)) do |form| %>
  <% if history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(history.errors.count, "error") %> prohibited this history from being saved:</h2>
      <ul>
        <% history.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-3">
    <%= form.label "Date :", class: "form-label" %>
    <%= form.date_field :date, class:"form-control", required: true, min: (@organization.histories.last.date + 1) %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :quota, class: "form-label" %>
    <%= form.number_field :quota, class:"form-control", value: @default_quota %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :services_ids, class: "form-label" %>
    <%= form.text_field :services_ids, class:"form-control", value: @default_services %>
  </div>

  <div class="form-group mb-3">
    <%= form.label :comment, class: "form-label" %>
    <%= form.text_area :comment, class:"form-control" %>
  </div>

  <div class="form-group mb-3">
    <%= form.submit "Créer l'avenant", class: 'btn btn-primary' %>
    <%= link_to 'Annuler', organization_histories_path, class: 'btn btn-secondary' %>
  </div>
<% end %>