<%= turbo_frame_tag 'histories' do %>
    <h5>
    Avenants
    <%= link_to new_organization_history_path(@organization) do %>
        <i class="bi bi-plus-square-fill"></i>
    <% end %>
    </h5>
    <table class="table table-striped table-sm align-middle">
        <thead>
        <tr>
                <th>Date</th>
                <th>Quota</th>
                <th>Services</th>
                <th>Tarif annuel</th>
                <th>Commentaires</th>
        </tr>
        </thead>
        <tbody>
        <% @organization.histories.order(:date).each do |history| %>
            <tr>
            <td><%= history.date&.strftime("%d/%m/%Y") %></td>
            <td><%= history.quota_with_diff %></td>
            <td><%= history.services_to_s %></td>
            <td><%= history.annual_price_with_diff %></td>
            <% unless history.comment.empty? %>
                <td class="comment"><i class="bi bi-file-text-fill btn btn-primary btn-sm" data-bs-toggle="tooltip" data-bs-placement="bottom" title="<%= history.comment %>"></i></td>
            <% else %>
                <td></td>
            <% end %>
            </tr>
        <% end %>
        </tbody>
    </table>
<% end %>