<div id="<%= dom_id history %>">
  <p>
    <strong>Organization:</strong>
    <%= history.organization_id %>
  </p>

  <p>
    <strong>Quota:</strong>
    <%= history.quota %>
  </p>

  <p>
    <strong>Services:</strong>
    <%= history.services %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= history.comment %>
  </p>

</div>
