<div class='page'>
  <div class='container forms'>
    <h1>Editing History</h1>

    <%= render 'form', history: @history %>

    <%= link_to 'Show', @history, class: "btn btn-light min-width-btn" %> |
    <%= link_to 'Back', histories_path, class: "btn btn-light min-width-btn" %>
  </div>
</div>