<div class="container-fluid">
  <p id="notice"><%= notice %></p>

      <div class="form-group mb-3">
    <p><strong>Organization:</strong></p>
    <div>
      <%= @history.organization_id %>
    </div>
  </div>
  
      <div class="form-group mb-3">
    <p><strong>Quota:</strong></p>
    <div>
      <%= @history.quota %>
    </div>
  </div>
  
      <div class="form-group mb-3">
    <p><strong>Services:</strong></p>
    <div>
      <%= @history.services_ids %>
    </div>
  </div>
  
      <div class="form-group mb-3">
    <p><strong>Comment:</strong></p>
    <div>
      <%= @history.comment %>
    </div>
  </div>
  
  
  <%= link_to 'Edit', edit_history_path(@history), class: "btn btn-primary min-width-btn" %>
  <%= link_to 'Back', histories_path, class: "btn btn-light min-width-btn" %>
</div>