<div class="container-fluid">
  <p id="notice"><%= notice %></p>

  <h1>Formulaires</h1>

  <table class="table">
    <thead>
      <tr>
          <th>Date de début</th>
          <th>Structure</th>
          <th>Addresse</th>
          <th>Code postal</th>
          <th>Ville</th>
          <th>Prénom</th>
          <th>Nom</th>
          <th>Courriel</th>
          <th>Tél</th>
          <th>Domaine</th>
          <th>Compte</th>
          <th>Quota</th>
          <th>Garradin</th>
          <th>Sympa</th>
          <th>Cloud dédié</th>
          <th>Prix communautaire</th>
          <th>Prix Annuel</th>
          <th>Commentaires</th>
          <th>CGU</th>
          <th></th>
      </tr>
    </thead>

    <tbody>
      <% @forms.each do |form| %>
        <tr>
            <td><%= form.start_date %></td>
            <td><%= form.name %></td>
            <td><%= form.address %></td>
            <td><%= form.zip_code %></td>
            <td><%= form.town %></td>
            <td><%= form.first_name %></td>
            <td><%= form.last_name %></td>
            <td><%= form.email %></td>
            <td><%= form.phone %></td>
            <td><%= form.domain %></td>
            <td><%= form.first_account_complete %></td>
            <td><%= form.quota %></td>
            <td><i class="bi bi-<%= form.garradin ? 'check' : 'x' %>"></i></td>
            <td><i class="bi bi-<%= form.sympa ? 'check' : 'x' %>"></i></td>
            <td><i class="bi bi-<%= form.dedicated_cloud ? 'check' : 'x' %>"></i></td>
            <td><i class="bi bi-<%= form.community_price ? 'check' : 'x' %>"></i></td>
            <td><%= form.annual_price %></td>
            <td><%= form.comments %></td>
            <td><i class="bi bi-<%= form.cgu ? 'check' : 'x' %>"></i></td>          
          <td>
            <%= link_to edit_form_path(form) do %>
              <i class="bi bi-pencil"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Nouveau formulaire', new_form_path, class: "btn btn-primary min-width-btn" %>

</div>