<div class='page'>
  <div class='container forms'>
    

    <div class='image-header'>
      <%= image_tag 'logo', width: '200px' %>
    </div>

    <h1 class='titre'>Ouverture d'un espace Zourit.net</h1>

    <%= render 'form', form: @form %>
  </div>
</div>