<div class="container-fluid">
  <p id="notice"><%= notice %></p>

      <div class="form-group mb-3">
    <p><strong>Start date:</strong></p>
    <div>
      <%= @form.start_date %>
    </div>
  </div>
  
      <div class="form-group mb-3">
    <p><strong>Name:</strong></p>
    <div>
      <%= @form.name %>
    </div>
  </div>
  
      <div class="form-group mb-3">
    <p><strong>Address:</strong></p>
    <div>
      <%= @form.address %>
    </div>
  </div>
  
      <div class="form-group mb-3">
    <p><strong>Zip code:</strong></p>
    <div>
      <%= @form.zip_code %>
    </div>
  </div>
  
      <div class="form-group mb-3">
    <p><strong>Town:</strong></p>
    <div>
      <%= @form.town %>
    </div>
  </div>
  
      <div class="form-group mb-3">
    <p><strong>First name:</strong></p>
    <div>
      <%= @form.first_name %>
    </div>
  </div>
  
      <div class="form-group mb-3">
    <p><strong>Last name:</strong></p>
    <div>
      <%= @form.last_name %>
    </div>
  </div>
  
      <div class="form-group mb-3">
    <p><strong>Email:</strong></p>
    <div>
      <%= @form.email %>
    </div>
  </div>
  
      <div class="form-group mb-3">
    <p><strong>Phone:</strong></p>
    <div>
      <%= @form.phone %>
    </div>
  </div>
  
      <div class="form-group mb-3">
    <p><strong>Domain:</strong></p>
    <div>
      <%= @form.domain %>
    </div>
  </div>
  
      <div class="form-group mb-3">
    <p><strong>First account:</strong></p>
    <div>
      <%= @form.first_account %>
    </div>
  </div>
  
      <div class="form-group mb-3">
    <p><strong>Quota:</strong></p>
    <div>
      <%= @form.quota %>
    </div>
  </div>
  
      <div class="form-group mb-3">
    <p><strong>Garradin:</strong></p>
    <div>
      <%= @form.garradin %>
    </div>
  </div>
  
      <div class="form-group mb-3">
    <p><strong>Sympa:</strong></p>
    <div>
      <%= @form.sympa %>
    </div>
  </div>
  
      <div class="form-group mb-3">
    <p><strong>Dedicated cloud:</strong></p>
    <div>
      <%= @form.dedicated_cloud %>
    </div>
  </div>
  
      <div class="form-group mb-3">
    <p><strong>Community price:</strong></p>
    <div>
      <%= @form.community_price %>
    </div>
  </div>
  
      <div class="form-group mb-3">
    <p><strong>Comments:</strong></p>
    <div>
      <%= @form.comments %>
    </div>
  </div>
  
  
  <%= link_to 'Edit', edit_form_path(@form), class: "btn btn-primary min-width-btn" %>
  <%= link_to 'Back', forms_path, class: "btn btn-light min-width-btn" %>
</div>