<div class='page'>
  <div class='container forms'>
    <div class="structure-title">
      <h1 class=''><%= @structure.name %></h1>
      <h6 class=''><%= @structure.address %></h6>
      <h6 class=''><%= "#{@structure.zip_code} #{@structure.town}" %></h6>
    </div>
    <div class="row">
      <div class="structure-contact col">
        <h5>Personne contact</h5>
        <div class="input-group mb-3">
          <span class="input-group-text span-primary" id="domain_name_span"><i class="bi bi-person-fill"></i></span>
          <div class="input-group-label"><%= @structure.contact %></div>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text span-primary" id="domain_name_span"><i class="bi bi-envelope-fill"></i></span>
          <div class="input-group-label"><%= @structure.email %></div>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text span-primary" id="domain_name_span"><i class="bi bi-phone-fill"></i></span>
          <div class="input-group-label"><%= @structure.phone %></div>
        </div>
      </div>
      <div class="structure-contact col">
        <h5>Domaine</h5>
        <div class="input-group mb-3">
          <span class="input-group-text span-primary" id="domain_name_span"><i class="bi bi-globe"></i></span>
          <div class="input-group-label"><%= @structure.domain %></div>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text span-primary" id="domain_name_span"><i class="bi bi-pie-chart-fill"></i></span>
          <div class="input-group-label"><%= "#{@structure.quota} Go" %></div>
        </div>
        <div class="input-group mb-3">
          <span class="input-group-text span-primary" id="domain_name_span"><i class="bi bi-calendar-fill"></i></span>
          <div class="input-group-label"><%= @structure.start_date.strftime("%d/%m/%Y") %></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="structure-contact col">
        <h5>Services facultatifs</h5>       
        <div class="table-responsive">
          <!--<table class="table services">
            <thead>
              <tr>
                <% @services_facultatifs.each do |service| %>
                  <th><%= service[:program] %></th>
                <% end %>
              </tr>
            </thead>   
            <tbody>
              <tr>
                <% @services_facultatifs.each do |service| %>
                  <td><i class="bi bi-<%= eval("@structure.#{service[:bool_name]}") ? 'check' : 'x' %>"></i></td>
                <% end %>
              </tr>
            </tbody>
          </table>-->
          <div class="row row-check">
            <% @services_facultatifs.each do |service| %>
              <div class="col-4 card-space">
                <div class="card">
                  <div class="card-header">
                    <%= service[:program] %>
                  </div>
                  <div class="card-check">
                    <i class="bi bi-<%= eval("@structure.#{service[:bool_name]}") ? 'check' : 'x' %>"></i>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="structure-contact col">
        <h5>Tarif</h5>
        <div><%= "#{@structure.quota} Go x 1,4 = #{(@structure.quota*1.4).round(2)} € par an" %></div>
        <% @services_facultatifs.each do |service| %>
          <% if eval("@structure.#{service[:bool_name]}") %>
            <div><%= "1 x #{service[:program]} à #{service[:price]}" %></div>
          <% end %>  
        <% end %>
        <div class="input-group mb-3">
          <span class="input-group-text span-primary" id="domain_name_span"><i class="bi bi-currency-euro"></i></span>
          <div class="input-group-label"><%= "Total de #{@structure.annual_price} par an" %></div>
        </div>
      </div>
    </div>

    <%= link_to 'Voir le formulaire', "/forms/#{@structure.id}/edit", class: "btn btn-primary" %>

  </div>
</div>