<div class='page'>
  <div class='container forms'>
    <div class="structure-title">
      <p id="notice"><%= notice %></p>

      <h1>Structures</h1>

      <table class="table">
        <thead>
          <tr>        
              <th>Structure</th>
              <th>Domaine</th>
              <th>Date d'inscription</th>
              <th>Ville</th>
              <th>Quota</th>
              <th>Prix Annuel</th>
              <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>
          <% @structures.each do |structure| %>
            <tr>
              <td><%= structure.name %></td>
              <td><%= structure.domain %></td>
              <td><%= structure.start_date.strftime("%d/%m/%Y") %></td>
              <td><%= structure.town %></td>
              <td><%= structure.quota %></td>
              <td><%= structure.annual_price %></td>
              <td>
                <%= link_to "/forms/#{structure.id}/edit" do %>
                  <i class="bi bi-file-text"></i>
                <% end %>
                <%= link_to "/structures/#{structure.id}" do %>
                  <i class="bi bi-eye"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>