$h2-font-size: 1.2rem;
$h2-font-weight: 800;

$zourit-color: #ad0c78;
$primary: $zourit-color;
$secondary: #4d5c87;
$success: $zourit-color;
$warning: #d8db12;
$question-color: #535d6f;
$background-color: #e2e8f0;
$background-color-lighter: #f8fafce8;

@import 'bootstrap/scss/bootstrap';
@import "bootstrap-icons/font/bootstrap-icons";

:root {
    --bs-body-bg: #e2e8f0;
}

.toast.bg-success {
    .toast-body{
        color: white;
    }
}

.page{
    background-color: $background-color;
    padding-top: 10px;
    padding-bottom: 60px;
}

.forms{
    background-color: #fff;
    border-top: 5px solid $zourit-color;
    padding: 15px 60px 15px 60px;
    max-width: 1005px;
    box-shadow: 10px 10px 20px #35373b;
    h1{
        text-align: center;
        margin-bottom: 50px;
    }
}

.table{
    text-align: center;
    thead{
        background-color: $zourit-color;
        color: white;
    
    }
}


.image-header{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.question{
    font-size: 1.25rem;
    margin-top: 1rem;
    margin-bottom: .25rem;
    color: $question-color;
    font-weight: bold;
}

.question-separator{
    font-size: 1.25rem;
    margin-top: 1rem;
    margin-bottom: 0.1rem;
    color: $question-color;
    font-weight: bold;
    border-bottom: 2px solid $zourit-color;
    margin-bottom: 1rem;
}

.sub-question{
    font-size: 1rem;
    margin-bottom: .25rem;
    color: $question-color;
    font-weight: bold;
}

.question-desc{
    color: $question-color;
}

.icons{
    font-size: 4rem;
    color: $zourit-color;
    text-align: center;
}

.card{
    background-color: $background-color;
}

.card-space{
    margin-bottom: 15px;
    margin-top: 15px;
}

.card-header{
    background-color: $background-color-lighter;
    text-align: center;
}

.card-footer{
    background-color: $background-color-lighter;
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 20px;
}

.card-title{
    font-size: 1.1rem;
    margin-bottom: .5rem;
    color: $question-color;
    font-weight: bold;
    text-align: center;
}

.card-text{
    color: $question-color;
    text-align: center;
}

.card-select{
    background-color: $background-color-lighter;
}

.card-price{
    font-size: 1rem;
    margin-bottom: .5rem;
    color: $question-color;
    font-weight: 600;
    text-align: center;
}

.card-inclus{
    font-size: 1.1rem;
    margin-bottom: .5rem;
    color: $question-color;
    font-weight: bold;
    text-align: center;
    background-color: $background-color-lighter;
    border-radius: 5px;
    margin: 0 50px 0 50px;
}

.card-check{
    color: white;
    text-align: center;
    background-color: $primary;
}

.card-x{
    color: white;
    text-align: center;
    background-color: $secondary;
}

.price-title{
    text-align: center;
}

.calcultor-icon{
    text-align: center;
    padding-top: 35px;
}

.submit{
    text-align: center;
    margin-top: 25px;
}

.structure-title{
    text-align: center;
}

.structure-contact{
    background-color: $background-color;
    padding: 20px;
    margin: 20px;
    border-top: 2px solid $zourit-color;
    h5{
        text-align: center;
        margin-bottom: 20px;
    }
}

.span-primary{
    background-color: $zourit-color;
    color: #fff;
}

.input-group-label{
    text-align: left;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    padding: 0.375rem 0.75rem;
    height: 2.7rem;
    .label{
        font-size: 0.7rem;
        color: $question-color;
        margin-top: -.5rem;
    }
}

.table.services{
    text-align: center;
    .bi-check{
        color: $zourit-color;
    }
}

.row-check{
    margin-right: 0;
}

.boutons-droite{
    text-align: right;
}

.input-group-memo{
    text-align: left;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    padding: 0.375rem 0.75rem;
    .label{
        font-size: 0.7rem;
        color: $question-color;
        margin-top: -.5rem;
    }
}

.row-center{
    text-align: center;
}