<%= form_with(model: @organization) do |form| %>

  <%= form.fields_for :histories do |history_subform| %>

    <div class="form-group mb-3">
        <div class="row g-3 align-items-center">
          <div class="col-auto">
            <%= form.label "Date d'ouverture souhaitée :", class: "form-label question" %>
          </div>
          <div class="col">
            <%= history_subform.date_field :date, class:"form-control", value: @min_date, min: @min_date, onchange: "update_relative_price();", required: true %>
          </div>
        </div>
    </div>

    <div class="form-group mb-3">
      <%= form.label "Nom de la structure :", class: "form-label question" %>
      <%= form.text_field :name, class:"form-control", required: true %>
    </div>

    <div class='question-separator'>
      Adresse postale :
    </div>

    <div class="form-group mb-3">
      <%= form.label "Adresse ( n°, rue, etc )", class: "form-label sub-question" %>
      <%= form.text_area :address, class:"form-control", required: true %>
    </div>

    <div class="form-group mb-3">
      <%= form.label "Code postal", class: "form-label sub-question" %>
      <%= form.text_field :zip_code, class:"form-control", required: true %>
    </div>

    <div class="form-group mb-3">
      <%= form.label "Ville", class: "form-label sub-question" %>
      <%= form.text_field :town, class:"form-control", required: true %>
    </div>

    <div class='question-separator'>
      Personne contact :
    </div>

    <div class="form-group mb-3">
      <%= form.label "Prénom", class: "form-label sub-question" %>
      <%= form.text_field :first_name, class:"form-control", required: true %>
    </div>

    <div class="form-group mb-3">
      <%= form.label "Nom", class: "form-label sub-question" %>
      <%= form.text_field :last_name, class:"form-control", required: true %>
    </div>

    <div class="form-group mb-3">
      <%= form.label "Courriel", class: "form-label sub-question" %>
      <%= form.text_field :email, class:"form-control", required: true %>
    </div>

    <div class="form-group mb-3">
      <%= form.label "Téléphone", class: "form-label sub-question" %>
      <%= form.text_field :phone, class:"form-control", required: true %>
    </div>

    <div class='question-separator'>
      Informations espace Zourit.net :
    </div>

    <div class="form-group mb-3">
      <%= form.label "Nom de domaine concerné :", class: "form-label sub-question" %>
      <%= form.text_field :domain, class:"form-control", placeholder: 'ex : monnomdedomaine.net', onchange: 'update_domain_name(this.value);', required: true %>
      <div class="question-desc">Si vous souhaitez "accrocher" vos mails à votre espace Zourit, une intervention sera nécessaire sur l'espace d'administration de votre domaine. Nous pouvons vous accompagner dans cette démarche (<a href="https://doc.zourit.net/admin/dns_zourit" target="_blank">documentation</a>).<br/>Si vous ne disposez pas de votre propre nom de domaine, nous pouvons vous proposer gratuitement un sous-domaine de la forme : votrenom.zourit.net</div>
    </div>

    <div class="form-group mb-3">
      <%= form.label "Premier compte à créer :", class: "form-label sub-question" %>
      <div class="input-group mb-3">
        <%= form.text_field :first_account, class:"form-control", required: true %>
        <span class="input-group-text" id="domain_name_span">@monnomdedomaine.net</span>
      </div>
      <div class="question-desc">L'accès à votre espace Zourit.net se fait via une adresse mail et un mot de passe. Cette adresse mail doit être une adresse du domaine que vous venez de nous communiquer. Merci de nous indiquer celle que vous souhaitez. Ex : contact@monnomdedomaine.net</div>
    </div>

    <div class="form-group mb-3">
      <%= form.label "Nombre de gigaoctets souhaités :", class: "form-label sub-question" %>
      <%= history_subform.number_field :quota, class:"form-control", min: 50, step: 10, onchange: "calcul_price();", required: true %>
      <div class="question-desc">Indiquez ici la taille globale demandée pour votre espace en Go. Elle ne peut être inférieure à 50 Go. Celle-ci pourra être révisée en cours d'année sur simple demande.</div>
    </div>

    <div class='question-separator'>
      Services de base inclus dans Zourit.net
    </div>

    <div class="question-desc">Les services de base sont automatiquement inclus dans votre abonnement Zourit.</div>

    <!-- Cards des services de base -->

    <div class="row">
    <% @services_inclus&.each do |service| %>
      <div class="col-sm-6 col-md-4 card-space">
        <div class="card">
          <div class="card-header">
            <i class="bi bi-<%= service[:icon] %> icons" aria-hidden="true"></i>
          </div>
          <div class="card-body">
            <p class='card-title'><%= service[:title] %></p>
            <p class="card-text"><%= service[:text] %></p>
            <p class='card-inclus'>inclus</p>
          </div>
        </div>
      </div>
    <% end %>
    </div>

    <!-- Fin des cards des services de base -->

    <div class='question-separator'>
      Services supplémentaires
    </div>

    <div class="question-desc">Certains services facultatifs peuvent être ajouté à vos services de base.</div>

    <!-- Cards des services facultatifs -->

    <div class="row">
      <% @services_facultatifs&.each do |service| %>
        <div class="col-sm-6 col-md-4 card-space">
          <div class="card">
            <div class="card-header">
              <i class="bi bi-<%= service[:icon] %> icons" aria-hidden="true"></i>
            </div>
            <div class="card-body">
              <p class='card-title'><%= service.title %></p>
              <p class='card-price'><%= service.annual_price>0.0 ? "+ #{service.annual_price} € par an" : "gratuit" %></p>
              <p class="card-text"><%= service.text %></p>
            </div>
            <div class="card-footer">
              <div class="form-group mb-3">
                <div class="form-check form-switch">
                  <% checked = @organization.actual_services.include?(service.id) %>
                  <%= hidden_field_tag "service[#{service.program.downcase}]", nil %>
                  <%= check_box_tag "service[#{service.program.downcase}]", '1', checked, onchange: "calcul_price();", class: "form-check-input services-facultatifs", data: {price: service.annual_price, id: service.id} %>
                  <%= form.label "activer ? ", class: "form-check-label" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <%= history_subform.hidden_field :services_ids %>
    </div>

    <!-- Fin des cards des services facultatifs -->

    <div class='question-separator'>
      Tarif
    </div>

    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4 card-header">
          <div class='calcultor-icon'>
          <i class="bi bi-calculator icons" aria-hidden="true"></i>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="price-title">Total de votre abonnement à Zourit.net :</h5>
            <p class="card-text"><span id='annual_price'>70</span>€ TTC par an</p>
            <h5 class="price-title">Au prorata de l'année en cours :</h5>
            <p class="card-text">du <span id='start_date'></span> au <span id='end_date'><%= @end_date&.strftime("%d/%m/%Y") %></span>, soit <span id='nb_jours'></span> jours</p>
            <p class="card-text card-inclus">A régler pour l'année <span id="annee"></span> : <strong><span id='relative_price'></span>€ TTC</strong></p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="form-group mb-3">
      <%= form.label "Informations complémentaires que vous souhaitez nous communiquer : ", class: "form-label sub-question" %>
      <%= history_subform.text_area :comment, class:"form-control" %>
    </div>

    <div class="form-check">
      <%= form.check_box :cgu, class: "form-check-input", required: true %>
      <p class="form-label sub-question">J'ai lu et accepté les <%= link_to 'conditions générale d\'utilisation', 'https://zourit.net/cgu/', target: '_blank' %></p>
    </div>

    <div class="form-group mb-3 submit">
      <%= form.submit 'Soumettre', class: 'btn btn-primary' %>
    </div>
  <% end %>
<% end %>

<script>
  function update_domain_name(val) {
    span = document.getElementById("domain_name_span");
    if (val!='') {
      span.innerText = '@' + val;
    } else {
      span.innerText = '@monnomdedomaine.net';
    }
  }

  function calcul_price(){
    prix_annuel = annual_price(1.4);
    annual_price_span = document.getElementById("annual_price");
    annual_price_span.innerText = annual_price(1.4);
    update_relative_price();
  }

  function annual_price(prix_go){
    const quota_form = document.getElementById("organization_histories_attributes_0_quota");
    let quota = quota_form.value;
    if (quota<50){ 
      quota = 50;
      quota_form.value = '50';
    }
    const services_ids_input = document.getElementById("organization_histories_attributes_0_services_ids");
    const services_facultatifs = document.getElementsByClassName("services-facultatifs");
    let services_ids = ""
    let prix_annuel = quota * prix_go;

    for (let i in services_facultatifs) {
      if (typeof services_facultatifs[i].dataset != 'undefined' && services_facultatifs[i].checked) {
        prix_annuel += parseFloat(services_facultatifs[i].dataset.price);
        services_ids += services_facultatifs[i].dataset.id + ",";
      }
    }
    services_ids_input.value = services_ids.slice(0, -1);
    return prix_annuel;
  }

  function update_relative_price(){
    prix_annuel = document.getElementById("annual_price").innerText;
    start_date_input = document.getElementById("organization_histories_attributes_0_date");
    const start_date = new Date(Date.parse(start_date_input.value));
    const annee = start_date.getFullYear();
    const end_date = new Date(Date.UTC(annee,11,31,0,0,0));
    days = nb_jours(start_date, end_date);
    document.getElementById("start_date").innerText = start_date.toLocaleDateString('fr-FR');
    document.getElementById("end_date").innerText = end_date.toLocaleDateString('fr-FR');
    document.getElementById("annee").innerText = annee;
    document.getElementById("nb_jours").innerText = days;
    prix_relatif = relative_price(prix_annuel, days);
    document.getElementById("relative_price").innerText = prix_relatif;
  }

  function nb_jours(start_date, end_date){
    diff = end_date.getTime() - start_date.getTime();
    nb = diff/(1000*60*60*24) + 1;
    return nb
  }

  function relative_price(prix_annuel, days){
    prix_relatif = Math.round(days*prix_annuel/365 * 100) / 100;
    return prix_relatif;
  }

  window.onload = calcul_price();  
</script>