
<table class="table table-striped table-sm align-middle">
    <thead>
        <tr>
            <th>Date</th>
            <th>Jours (prorata)</th>
            <th>A facturer</th>
            <th>A facturer/prest</th>
        </tr>
    </thead>
    <tbody>
        <% invoices.each do |invoice| %>
            <tr>
                <td><%= invoice.history&.date&.strftime("%d/%m/%Y") %></td>
                <td><%= invoice.days %></td>
                <td>
                    <%= "#{invoice.price} €" %>
                    <%= link_to invoice_path(invoice, invoice: {invoiced: !invoice.invoiced}),
                                class: "btn btn-sm btn-#{invoice.invoiced ? 'primary' : 'secondary'}",
                                data: {turbo_method: :patch} do %>
                    <i class="bi bi-<%= invoice.invoiced ? 'check' : 'x' %>"></i> 
                    <% end %>
                </td>
                <td>
                    <%= "#{invoice.price_provider} €" %>
                    <%= link_to invoice_path(invoice, invoice: {invoiced_provider: !invoice.invoiced_provider}),
                                class: "btn btn-sm btn-#{invoice.invoiced_provider ? 'primary' : 'secondary'}",
                                data: {turbo_method: :patch} do %>
                    <i class="bi bi-<%= invoice.invoiced_provider ? 'check' : 'x' %>"></i> 
                    <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
