<div id="<%= dom_id organization %>">
  <p>
    <strong>Name:</strong>
    <%= organization.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= organization.address %>
  </p>

  <p>
    <strong>Zip code:</strong>
    <%= organization.zip_code %>
  </p>

  <p>
    <strong>Town:</strong>
    <%= organization.town %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= organization.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= organization.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= organization.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= organization.phone %>
  </p>

  <p>
    <strong>Domain:</strong>
    <%= organization.domain %>
  </p>

  <p>
    <strong>First account:</strong>
    <%= organization.first_account %>
  </p>

</div>
