<h1>Editing Organization</h1>

<%= render 'form', organization: @organization %>

<%= link_to 'Show', @organization, class: "btn btn-light min-width-btn" %> |
<%= link_to 'Back', organizations_path, class: "btn btn-light min-width-btn" %>
