<h1>Structures</h1>

<table class="table table-striped">
  <thead>
    <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Zip code</th>
          <th>Town</th>
          <th>Domain</th>
          <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= organization.name %></td>
        <td><%= organization.start_date.strftime("%d/%m/%Y") %></td>
        <td><%= organization.zip_code %></td>
        <td><%= organization.town %></td>
        <td><%= organization.domain %></td>
        <td><%= link_to 'Show', organization %></td>
        <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organization', new_organization_path, class: "btn btn-primary min-width-btn" %>
