<div class="row">
  <div class="structure-title col-md-6 offset-md-3">
    <div class="input-group mb-3">
      <span class="input-group-text span-primary" id="domain_name_span"><i class="bi bi-building"></i></span>
      <div class="input-group-label"><div class="label">Structure</div><div class="data"><%= @organization.name %></div></div>
    </div>
  </div>

  <div class="structure-title col-md-6 offset-md-3">     
    <div class="input-group mb-3">
      <span class="input-group-text span-primary" id="domain_name_span"><i class="bi bi-mailbox2"></i></span>          
      <div class="input-group-memo">
        <div class="label">Adresse</div>
        <div><%= @organization.address %></div>
        <div><%= "#{@organization.zip_code} #{@organization.town}" %></div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="structure-contact col">
    <h5>Personne contact</h5>
    <div class="input-group mb-3">
      <span class="input-group-text span-primary" id="domain_name_span"><i class="bi bi-person-fill"></i></span>
      <div class="input-group-label"><div class="label">Nom du contact</div><div class="data"><%= @organization.contact %></div></div>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text span-primary" id="domain_name_span"><i class="bi bi-envelope-fill"></i></span>
      <div class="input-group-label"><div class="label">Adresse email</div><div class="data"><%= @organization.email %></div></div>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text span-primary" id="domain_name_span"><i class="bi bi-phone-fill"></i></span>
      <div class="input-group-label"><div class="label">Numéro de téléphone</div><div class="data"><%= @organization.phone %></div></div>
    </div>
  </div>
  <div class="structure-contact col">
    <h5>Domaine</h5>
    <div class="input-group mb-3">
      <span class="input-group-text span-primary" id="domain_name_span"><i class="bi bi-globe"></i></span>
      <div class="input-group-label"><div class="label">Nom de domaine</div><div class="data"><%= @organization.domain %></div></div>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text span-primary" id="domain_name_span"><i class="bi bi-pie-chart-fill"></i></span>
      <div class="input-group-label"><div class="label">Quota</div><div class="data"><%= "#{@organization.actual_quota} Go" %></div></div>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text span-primary" id="domain_name_span"><i class="bi bi-calendar-fill"></i></span>
      <div class="input-group-label"><div class="label">Ouverture le</div><div class="data"><%= "#{@organization.start_date&.strftime('%d/%m/%Y')}" %></div></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="structure-contact col">
    <h5>Services facultatifs</h5>       
    <div class="table-responsive">
      
      <div class="row row-check">
        <% ids = @organization.actual_services_ids %>
        <% @services_facultatifs.each do |service| %>
          <div class="col-4 card-space">
            <div class="card">
              <div class="card-header">
                <%= service[:program] %>
              </div>
              <% check = ids&.include?(service.id) ? 'check' : 'x' %>
              <div class="card-<%= check %>">
                <i class="bi bi-<%= check %>"></i>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="structure-contact col">
    <h5>Tarif</h5>
    <div class="input-group mb-3">
      <span class="input-group-text span-primary" id="domain_name_span"><i class="bi bi-calculator-fill"></i></span>
      <% actual_quota = @organization.actual_quota %>
      
      <div class="input-group-memo">
        <div class="label">Détail</div>
        <% if actual_quota %>
          <div><%= "#{actual_quota} Go x 1,4 = #{(actual_quota*1.4).round(2)} € par an" %></div>
        <% end %>          
      
        <% @organization.actual_services&.each do |service| %>   
          <% if service.annual_price > 0 %>
            <div><%= "+ #{service.program} à #{service.annual_price} € par an" %></div>
          <% end %>                     
        <% end %>
      </div> 
    </div>
      
    <div class="input-group mb-3">
      <span class="input-group-text span-primary" id="domain_name_span"><i class="bi bi-currency-euro"></i></span>
      <div class="input-group-label"><div class="label">Total annuel de</div><div class="data"><%= "= #{@organization.annual_price} €" %></div></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="structure-contact col">
    <%= render "histories/histories" %>
  </div>
</div>

<% invoices = @organization.invoices %>
<% if invoices.count>0 %>
  <div class="row">
    <div class="structure-contact col">
      <h5>Factures</h5>
      <%= render 'invoices', invoices: invoices %>
    </div>
  </div>
<% end %>

<div class="row align-items-start row-center">
  <div class="col">
    <%= link_to edit_organization_path, class: "btn btn-primary", type: "button" do %>
      <i class="bi bi-pencil-fill"></i>
      Modifier la structure
    <% end %>
  </div>
  <div class="col">
    <%= link_to new_organization_history_path(@organization), class: "btn btn-primary", type: "button" do %>
      <i class="bi bi-plus-square-fill"></i>
      Ajouter un avenant
    <% end %>
  </div>
  <div class="col">
    <%= link_to 'Retour', "/organizations", class: "btn btn-secondary", type: "button" %>
  </div>
</div>