<!DOCTYPE html>
<html>
  <head>
    <title>ZouritFacturation</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class='image-header'>
      <%= image_tag 'logo', width: '200px' %>
    </div>
    <div class='page'>
      <div class='container forms'>      
        <%= yield %>
      </div>
    </div>

    <div class="toast-container position-absolute top-0 end-0 p-3">
      <% if notice.kind_of?(Array) %>
        <% notice&.each do |n| %>
          <div class="toast hide bg-<%= n['warning'] ? 'warning' : 'success' %>" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
              <strong class="me-auto"><%= n['title'] || 'Message'  %></strong>
              <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
              <%= n['message'] %>
            </div>
          </div>
        <% end %>
      <% end %> 
    </div>
  </body>
</html>
